.header {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid lightgray;
  background-color: white;
  width: 100%;

  .header__left {
    display: flex;
    align-items: center;
    img {
      object-fit: contain;
      // TODO search for object fit later
      height: 40px;
      margin-right: 10px;

      @media screen and (max-width: 750px) {
        object-fit: contain;
        height: 30px;
        margin-right: 10px;
      }
    }

    .header__search {
      display: flex;
      align-items: center;

      border-radius: 5px;
      height: 22px;
      color: gray;
      background-color: #eef3f8;
      padding: 16px;

      @media screen and (max-width: 750px) {
        display: none;
        padding: 0px;
        input,
        .header__search__icon {
          display: none;
        }
      }

      .header__search__icon {
        cursor: pointer;
        transition: 0.5s;
        &:hover {
          color: black;
        }
      }
      input {
        // TODO look for outline and border and so on
        width: 300px;
        outline: none;
        border: none;
        background: none;
      }
    }
  }

  .header__right {
    display: flex;
  }
}
